{{ define "main" }}
<div class="news_header wrap content">
    <!-- 仅保留分类药丸筛选栏 -->
    <div class="news_filter_scroll">
        <div class="news_filters">
            <a href="/" class="news_filter_btn active">All</a>
            {{ range $name, $items := .Site.Taxonomies.categories }}
            <a href="{{ " /categories/" | relLangURL }}{{ $name | urlize }}" class="news_filter_btn">{{ $name | title
                }}</a>
            {{ end }}
        </div>
    </div>
</div>

{{- partial "archive" . }}
{{ end }}