{{- $page := . -}}
{{- $showImage := true -}}
{{- if reflect.IsMap . -}}
{{- if .Page -}}
{{- $page = .Page -}}
{{- end -}}
{{- if .HideImage -}}
{{- $showImage = false -}}
{{- end -}}
{{- end -}}

{{- with $page -}}
<header class="article-header">
    {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
    {{- $hasImage := or $image.exists .Params.image -}}
    {{- $contentImage := "" -}}
    {{- /* 判断是否为文章浏览页（单页面）*/ -}}
    {{- $isSinglePage := eq .Kind "page" -}}

    {{- /* 如果没有明确指定图片，尝试从内容中提取第一张图片 */ -}}
    {{- if not $hasImage -}}
    {{- $content := .RawContent -}}
    {{- $imgPattern := `!\[.*?\]\((.*?)\)` -}}
    {{- $matches := findRE $imgPattern $content 1 -}}
    {{- if $matches -}}
    {{- $hasImage = true -}}
    {{- $firstMatch := index $matches 0 -}}
    {{- $urlPattern := `\((.*?)\)` -}}
    {{- $urlMatches := findRE $urlPattern $firstMatch 1 -}}
    {{- if $urlMatches -}}
    {{- $contentImage = replaceRE `[\(\)]` "" (index $urlMatches 0) -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}

    {{- if and $hasImage $showImage (not $isSinglePage) -}}
    <div class="article-image">
        {{- /* 在文章浏览页不使用链接包裹图片，避免点击刷新 */ -}}
        {{- if not $isSinglePage -}}<a href="{{ .RelPermalink }}">{{- end -}}
            {{- if $image.resource -}}
            {{- $Permalink := $image.resource.RelPermalink -}}
            {{- $Width := $image.resource.Width -}}
            {{- $Height := $image.resource.Height -}}
            {{- $Srcset := "" -}}

            {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
            {{- $thumbnail := $image.resource.Resize "800x" -}}
            {{- $thumbnailRetina := $image.resource.Resize "1600x" -}}
            {{- $Srcset = printf "%s 800w, %s 1600w" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}
            {{- $Permalink = $thumbnail.RelPermalink -}}
            {{- $Width = $thumbnail.Width -}}
            {{- $Height = $thumbnail.Height -}}
            {{- end -}}

            <img src="{{ $Permalink }}" {{ with $Srcset }}srcset="{{ . }}" {{ end }} width="{{ $Width }}"
                height="{{ $Height }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
            {{- else if $image.permalink -}}
            <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
            {{- else if .Params.image -}}
            <img src="{{ .Params.image | relURL }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
            {{- else if $contentImage -}}
            <img src="{{ $contentImage | relURL }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
            {{- end -}}
            {{- if not $isSinglePage -}}</a>{{- end -}}
    </div>
    {{- end -}}

    {{- partialCached "article/components/details" . .RelPermalink -}}
</header>
{{- end -}}